h1 {
  text-align: center;
  font-family: arial;
  color: cadetblue;
}

.input-header-div{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: grey;
}

.filter-header-div{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: grey;
}

.input-body-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.filter-body-div{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 20vh;
}

.input-body-div input{
  margin-top: 10px;
  width: 25vw;
  padding: 5px;
  border: none;
  border-bottom: 1px solid lightgreen;
  border-radius: 5px;
  outline: none;
}

.filter-body-div input{
  margin-top: 10px;
  width: 25vw;
  padding: 5px;
  border: none;
  border-bottom: 1px solid lightgreen;
  border-radius: 5px;
  outline: none;
}

.input-submit-btn-div{
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
}

.filter-submit-btn-div{
  display: flex;
  justify-content: center;
  height: 40px;
}

.input-submit-btn{
  margin-top: 10px;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  height: min-content;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
}

.filter-submit-btn{
  margin-top: 10px;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  height: min-content;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
}